<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="anilist_html_ultimate_creator_2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <anilist_html_ultimate_creator_2.My.MySettings>
            <setting name="BckgrnImage" serializeAs="String">
                <value />
            </setting>
            <setting name="BckgrnImage2" serializeAs="String">
                <value />
            </setting>
            <setting name="BckgrnImage3" serializeAs="String">
                <value />
            </setting>
            <setting name="BckgrnImage4" serializeAs="String">
                <value />
            </setting>
            <setting name="BckgrnImage5" serializeAs="String">
                <value />
            </setting>
            <setting name="BckgrnImage6" serializeAs="String">
                <value />
            </setting>
            <setting name="BckgrnImage7" serializeAs="String">
                <value />
            </setting>
            <setting name="BckgrnImage8" serializeAs="String">
                <value />
            </setting>
            <setting name="BckgrnImage9" serializeAs="String">
                <value />
            </setting>
            <setting name="BckgrnImage10" serializeAs="String">
                <value />
            </setting>
            <setting name="BckgrnImage11" serializeAs="String">
                <value />
            </setting>
        </anilist_html_ultimate_creator_2.My.MySettings>
    </userSettings>
</configuration>